<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'OzNotificationBundle') }}
        </div>
        {% endfor %}

        <div>
            {% block oz_notification_content %}
            {% endblock oz_notification_content %}
        </div>
    </body>
</html>
