{% extends "OzNotificationBundle::layout.html.twig" %}

{% block oz_notification_content %}

    {% for notification in internal_notifications %}
        <li>
            <a>
                <b>
                    {{ time_diff(notification.createdAt) }}
                    {#{{ notification.createdAt|date("F jS \\a\\t g:ia")  }}#}
                </b> <br />
                {{ notification.subject }}
            </a>
        </li>

    {% endfor %}

{% endblock %}
