{% extends "OzNotificationBundle::layout.html.twig" %}

{% block oz_notification_content %}

<form action="{{ path('oz_notification_user_preferences_edit') }}" {{ form_enctype(form) }} method="POST" class="oz_notification_user_preferences">

    {{ form_widget(form) }}

    <div>
        <input type="submit" value="{{ 'user_preferences.edit.submit'|trans({}, 'OzNotificationBundle') }}" />
    </div>
</form>

{% endblock oz_notification_content %}